:root {
    --height-pos: 100vh;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
header{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cont1{
    font-size:x-small;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: aliceblue;
    text-align: center;
}
.btn1{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    margin-top: 4vh;
    width: 20vw;
    border: 1px bisque solid;
    color: aliceblue;
    transition: background-color 2s;
    transition: color 2s;
}
.btn1:hover{
    background-color: bisque;
    color: black;
    font-weight: 500;
    cursor: pointer;
}
.name {
    color: bisque;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
}
#nav {
    background-color: black;
    color: bisque;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:99.05vw;
    height: 10vh;
    border-bottom: 1px bisque solid;
}
#home , #about , #portfolio , #contact , #blog {
    cursor: pointer;
    font-size: 1vw;
}
#portfolio_section , #blog_section , #contact_section , #about_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    color: aliceblue;
    background-color: black;
    border-bottom: 1px bisque solid;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
footer{
    background-color: black;
    color: aliceblue;
}
footer > p {
    font-size: 1vw;
}
img {
    width: 15vw;
    border-radius: 50%;
}
a {
    stroke: none;
    color: lightskyblue;
    font-weight: 900;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li{
    border-top: 1px bisque solid;
    border-bottom: 1px bisque solid;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    margin-top: 50px;
}
.intro > fieldset >p {
    font-size: 1.2vw;
    width: 400px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
}
.skills {
    margin-top: 40px;
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#about_section , #portfolio_section{
    height: 100vh;
}
hr {
    height: 300px;
    color: bisque;
}
fieldset{
margin-bottom: 100px;
}