* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: azure;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
}
img {
    margin-top: 10px;
    width: 300px;
    border-radius: 50%;
}
nav {
    height: 10vh;
    background-color: black;
    border-bottom: 1px bisque solid;
}
.nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.nav-links li .section {
    text-decoration: none;
    font-size: 24x;
    color: azure;
    cursor: pointer;
    user-select: none;
}
.landing {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid bisque;
}
.landing p {
    color: azure;
}
.title {
    font-size: 50px;

}
.intro {
    font-size: 50px;
    text-align: center;
}
.name{
    color: bisque;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.btn {
    padding: 10px;
    font-size: larger;
    border: 1px bisque solid;
    transition: background-color 2s;
    transition: color 2s;
    user-select: none;
}
.btn:hover {
    background-color: bisque;
    color: black;
    cursor: pointer;
    font-weight: 500;
    user-select: none;
}

fieldset {
    height: 150px;
    width: 50vw;
    font-size: 20px;
    padding:10px;
    text-align: center;
    margin-bottom: 50px;
}
a {
    stroke: none;
    font-weight: 900;
    text-decoration: none;
    color: lightskyblue;
}
[class$='Section'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 100%;
}
ul a img{
    width: 40px;
}
footer nav {
    width: 300px;
    margin-left:auto;
    margin-right: auto;
    border-left: 1px solid bisque;
    border-right: 1px solid bisque;
    border-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:768px) {
    .intro {
        font-size: 25px;
        width: 70vw;
        text-align: center;
    }
    fieldset {
        height: fit-content;
        width: 80vw;
        font-size: 20px;
        padding: 0;
        text-align: center;
    }
    .AboutSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    img{
        width: 150px;
    }
    .line{
        width: 30px;
        height: 3px;
        background-color: azure;
        margin: 5px;
    }
    nav{
        position: relative;
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%,-50%);
        z-index: 2;
    }
    .nav-links{
        position: fixed;
        background: black;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -10%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .landing{
        flex-direction: column;
    }
    .nav-links li {
     opacity: 0;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1){
        transition: all 1s ease 0.4s;
    }
    .nav-links li:nth-child(2){
        transition: all 1s ease 0.6s;
    }
    .nav-links li:nth-child(3){
        transition: all 1s ease 0.8s;
    }
    .nav-links li:nth-child(4){
        transition: all 1s ease 0.8s;
    }
    li.fade{
        opacity: 1;
    }
}





















